build/
xcuserdata/
.floo

cross-*.txt
root.tar.gz

node_modules
app/xtermjs/xterm-dist
app/xtermjs/.cache

subprojects/
!subprojects/*.wrap

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

e2e_out/
alpine-rootfs/
deps/NodeMobile/
app/claude-native/claude_cli.js
build_with_node.sh
app/NodeMobile.h
